Repository bcgov/sso-terraform, pull requests merged in 2022-03, with the labels that each got.

#342 request: add client files for api-programme-services-3103
  terraform/keycloak-dev/realms/onestopauth-business/client-api-programme-services-3103.tf
Labels: auto_generated, request, 3103

#343 request: update client files for psa-digital-journeys-2311
  terraform/keycloak-test/realms/onestopauth/client-psa-digital-journeys-2311.tf
Labels: auto_generated, request, 2311

#344 request: update client files for connectivity-intake-2014
  terraform/keycloak-prod/realms/onestopauth-basic/client-connectivity-intake-2014.tf
Labels: auto_generated, request, 2014

#346 request: add client files for court-nextcloud-project-232
  terraform/keycloak-dev/realms/onestopauth/client-court-nextcloud-project-232.tf
  terraform/keycloak-prod/realms/onestopauth/client-court-nextcloud-project-232.tf
  terraform/keycloak-test/realms/onestopauth/client-court-nextcloud-project-232.tf
Labels: auto_generated, request, 232

#349 request: update client files for invasives-bc-1849
  terraform/keycloak-dev/realms/onestopauth-business/client-invasives-bc-1849.tf
Labels: auto_generated, request, 1849

#350 request: update client files for clean-transportation-data-hub-595
  terraform/keycloak-dev/realms/onestopauth/client-clean-transportation-data-hub-595.tf
  terraform/keycloak-prod/realms/onestopauth/client-clean-transportation-data-hub-595.tf
  terraform/keycloak-test/realms/onestopauth/client-clean-transportation-data-hub-595.tf
Labels: auto_generated, request, 595

#351 request: update client files for itvr-2674
  terraform/keycloak-dev/realms/onestopauth-basic/client-itvr-2674.tf
Labels: auto_generated, request, 2674

#352 request: update client files for itvr-2674
  terraform/keycloak-dev/realms/onestopauth-basic/client-itvr-2674.tf
Labels: auto_generated, request, 2674

#353 request: update client files for invasives-bc-1849
  terraform/keycloak-dev/realms/onestopauth-business/client-invasives-bc-1849.tf
Labels: auto_generated, request, 1849

#355 request: update client files for jsb-csrs-991
  terraform/keycloak-dev/realms/onestopauth-basic/client-jsb-csrs-991.tf
  terraform/keycloak-prod/realms/onestopauth-basic/client-jsb-csrs-991.tf
  terraform/keycloak-test/realms/onestopauth-basic/client-jsb-csrs-991.tf
Labels: auto_generated, request, 991

#356 request: update client files for jsb-csrs-991
  terraform/keycloak-test/realms/onestopauth-basic/client-jsb-csrs-991.tf
Labels: auto_generated, request, 991

#357 request: update client files for jsb-csrs-991
  terraform/keycloak-test/realms/onestopauth-basic/client-jsb-csrs-991.tf
Labels: auto_generated, request, 991

#358 request: update client files for invasives-bc-1849
  terraform/keycloak-dev/realms/onestopauth-business/client-invasives-bc-1849.tf
Labels: auto_generated, request, 1849

#359 request: update client files for itvr-2674
  terraform/keycloak-dev/realms/onestopauth-basic/client-itvr-2674.tf
Labels: auto_generated, request, 2674

#360 request: update client files for itvr-2674
  terraform/keycloak-dev/realms/onestopauth-basic/client-itvr-2674.tf
Labels: auto_generated, request, 2674

#361 request: update client files for tidd-salesforce-2707
  terraform/keycloak-dev/realms/onestopauth/client-tidd-salesforce-2707.tf
Labels: auto_generated, request, 2707

#363 request: update client files for office-of-the-superintendent-of-prof-governance-3071
  terraform/keycloak-dev/realms/onestopauth/client-office-of-the-superintendent-of-prof-governance-3071.tf
  terraform/keycloak-prod/realms/onestopauth/client-office-of-the-superintendent-of-prof-governance-3071.tf
  terraform/keycloak-test/realms/onestopauth/client-office-of-the-superintendent-of-prof-governance-3071.tf
Labels: auto_generated, request, 3071

#364 request: update client files for wildlife-health-information-system-1618
  terraform/keycloak-dev/realms/onestopauth/client-wildlife-health-information-system-1618.tf
  terraform/keycloak-prod/realms/onestopauth/client-wildlife-health-information-system-1618.tf
  terraform/keycloak-test/realms/onestopauth/client-wildlife-health-information-system-1618.tf
Labels: auto_generated, request, 1618

#367 request: update client files for realm-profile-app-760
  terraform/keycloak-test/realms/onestopauth/client-realm-profile-app-760.tf
Labels: auto_generated, request, 760

#368 request: add client files for work-bc-career-compass-3136
  terraform/keycloak-dev/realms/onestopauth/client-work-bc-career-compass-3136.tf
  terraform/keycloak-prod/realms/onestopauth/client-work-bc-career-compass-3136.tf
  terraform/keycloak-test/realms/onestopauth/client-work-bc-career-compass-3136.tf
Labels: auto_generated, request, 3136

#369 request: update client files for tidd-salesforce-2707
  terraform/keycloak-dev/realms/onestopauth/client-tidd-salesforce-2707.tf
  terraform/keycloak-prod/realms/onestopauth/client-tidd-salesforce-2707.tf
  terraform/keycloak-test/realms/onestopauth/client-tidd-salesforce-2707.tf
Labels: auto_generated, request, 2707

#370 request: update client files for tidd-salesforce-2707
  terraform/keycloak-dev/realms/onestopauth/client-tidd-salesforce-2707.tf
  terraform/keycloak-prod/realms/onestopauth/client-tidd-salesforce-2707.tf
  terraform/keycloak-test/realms/onestopauth/client-tidd-salesforce-2707.tf
Labels: auto_generated, request, 2707

#371 request: add client files for ticdi-3202
  terraform/keycloak-dev/realms/onestopauth/client-ticdi-3202.tf
Labels: auto_generated, request, 3202

#375 request: add client files for ceed-evolution-3334
  terraform/keycloak-dev/realms/onestopauth-both/client-ceed-evolution-3334.tf
  terraform/keycloak-test/realms/onestopauth-both/client-ceed-evolution-3334.tf
Labels: auto_generated, request, 3334

#376 request: update client files for realm-profile-app-760
  terraform/keycloak-dev/realms/onestopauth/client-realm-profile-app-760.tf
Labels: auto_generated, request, 760

#380 request: update client files for realm-profile-app-760
  terraform/keycloak-dev/realms/onestopauth/client-realm-profile-app-760.tf
Labels: auto_generated, request, 760

#381 request: update client files for ceed-evolution-3334
  terraform/keycloak-dev/realms/onestopauth-both/client-ceed-evolution-3334.tf
  terraform/keycloak-test/realms/onestopauth-both/client-ceed-evolution-3334.tf
Labels: auto_generated, request, 3334

#382 request: update client files for wildlife-health-information-system-1618
  terraform/keycloak-dev/realms/onestopauth/client-wildlife-health-information-system-1618.tf
  terraform/keycloak-test/realms/onestopauth/client-wildlife-health-information-system-1618.tf
Labels: auto_generated, request, 1618

#383 request: update client files for work-bc-career-compass-3136
  terraform/keycloak-dev/realms/onestopauth/client-work-bc-career-compass-3136.tf
  terraform/keycloak-prod/realms/onestopauth/client-work-bc-career-compass-3136.tf
  terraform/keycloak-test/realms/onestopauth/client-work-bc-career-compass-3136.tf
Labels: auto_generated, request, 3136

#385 request: update client files for realm-profile-app-760
  terraform/keycloak-dev/realms/onestopauth/client-realm-profile-app-760.tf
Labels: auto_generated, request, 760

#387 request: update client files for itvr-2674
  terraform/keycloak-dev/realms/onestopauth-basic/client-itvr-2674.tf
  terraform/keycloak-test/realms/onestopauth-basic/client-itvr-2674.tf
Labels: auto_generated, request, 2674

#389 request: update client files for ceed-evolution-3334
  terraform/keycloak-dev/realms/onestopauth-both/client-ceed-evolution-3334.tf
Labels: auto_generated, request, 3334

#390 request: add client files for coco-experiment-3367
  terraform/keycloak-dev/realms/onestopauth/client-coco-experiment-3367.tf
Labels: auto_generated, request, 3367

#391 request: update client files for coco-experiment-3367
  terraform/keycloak-dev/realms/onestopauth/client-coco-experiment-3367.tf
Labels: auto_generated, request, 3367

#392 request: update client files for coco-experiment-3367
  terraform/keycloak-dev/realms/onestopauth/client-coco-experiment-3367.tf
Labels: auto_generated, request, 3367

#393 request: update client files for coco-experiment-3367
  terraform/keycloak-dev/realms/onestopauth/client-coco-experiment-3367.tf
Labels: auto_generated, request, 3367

#394 request: update client files for coco-experiment-3367
  terraform/keycloak-dev/realms/onestopauth/client-coco-experiment-3367.tf
Labels: auto_generated, request, 3367

#396 request: delete client files for coco-experiment-3367
  terraform/keycloak-dev/realms/onestopauth/client-coco-experiment-3367.tf
  terraform/keycloak-test/realms/onestopauth/client-coco-experiment-3367.tf
Labels: auto_generated, request, 3367

#397 request: add client files for coco-experiment-3368
  terraform/keycloak-dev/realms/onestopauth/client-coco-experiment-3368.tf
  terraform/keycloak-test/realms/onestopauth/client-coco-experiment-3368.tf
Labels: auto_generated, request, 3368

#398 request: update client files for coco-experiment-3368
  terraform/keycloak-dev/realms/onestopauth/client-coco-experiment-3368.tf
Labels: auto_generated, request, 3368

#399 request: update client files for coco-experiment-3368
  terraform/keycloak-dev/realms/onestopauth/client-coco-experiment-3368.tf
  terraform/keycloak-test/realms/onestopauth/client-coco-experiment-3368.tf
Labels: auto_generated, request, 3368

#400 request: update client files for coco-experiment-3368
  terraform/keycloak-dev/realms/onestopauth/client-coco-experiment-3368.tf
  terraform/keycloak-test/realms/onestopauth/client-coco-experiment-3368.tf
Labels: auto_generated, request, 3368

#401 request: add client files for coco-experiment-2-3400
  terraform/keycloak-dev/realms/onestopauth/client-coco-experiment-2-3400.tf
  terraform/keycloak-test/realms/onestopauth/client-coco-experiment-2-3400.tf
Labels: auto_generated, request, 3400

#402 request: update client files for coco-experiment-3368
  terraform/keycloak-dev/realms/onestopauth/client-coco-experiment-3368.tf
  terraform/keycloak-test/realms/onestopauth/client-coco-experiment-3368.tf
Labels: auto_generated, request, 3368

#403 request: update client files for invasives-bc-1849
  terraform/keycloak-dev/realms/onestopauth-business/client-invasives-bc-1849.tf
  terraform/keycloak-test/realms/onestopauth-business/client-invasives-bc-1849.tf
Labels: auto_generated, request, 1849

#404 request: update client files for invasives-bc-1849
  terraform/keycloak-dev/realms/onestopauth-business/client-invasives-bc-1849.tf
Labels: auto_generated, request, 1849

#405 request: update client files for work-bc-career-compass-3136
  terraform/keycloak-dev/realms/onestopauth/client-work-bc-career-compass-3136.tf
  terraform/keycloak-prod/realms/onestopauth/client-work-bc-career-compass-3136.tf
  terraform/keycloak-test/realms/onestopauth/client-work-bc-career-compass-3136.tf
Labels: auto_generated, request, 3136

#406 request: update client files for awp-2146
  terraform/keycloak-test/realms/onestopauth-business/client-awp-2146.tf
Labels: auto_generated, request, 2146

#407 request: update client files for wildlife-health-information-system-1618
  terraform/keycloak-prod/realms/onestopauth/client-wildlife-health-information-system-1618.tf
Labels: auto_generated, request, 1618

#408 request: update client files for work-bc-career-compass-3136
  terraform/keycloak-dev/realms/onestopauth/client-work-bc-career-compass-3136.tf
  terraform/keycloak-prod/realms/onestopauth/client-work-bc-career-compass-3136.tf
  terraform/keycloak-test/realms/onestopauth/client-work-bc-career-compass-3136.tf
Labels: auto_generated, request, 3136

#409 request: update client files for itvr-2674
  terraform/keycloak-dev/realms/onestopauth-basic/client-itvr-2674.tf
Labels: auto_generated, request, 2674

#410 request: update client files for coco-experiment-3368
  terraform/keycloak-dev/realms/onestopauth/client-coco-experiment-3368.tf
  terraform/keycloak-test/realms/onestopauth/client-coco-experiment-3368.tf
Labels: auto_generated, request, 3368

#411 request: update client files for coco-experiment-2-3400
  terraform/keycloak-dev/realms/onestopauth/client-coco-experiment-2-3400.tf
Labels: auto_generated, request, 3400

#412 request: update client files for ceed-evolution-3334
  terraform/keycloak-dev/realms/onestopauth-both/client-ceed-evolution-3334.tf
Labels: auto_generated, request, 3334

#413 request: update client files for ceed-evolution-3334
  terraform/keycloak-dev/realms/onestopauth-both/client-ceed-evolution-3334.tf
Labels: auto_generated, request, 3334

#414 request: update client files for psa-digital-journeys-2311
  terraform/keycloak-prod/realms/onestopauth/client-psa-digital-journeys-2311.tf
Labels: auto_generated, request, 2311

#415 request: delete client files for greenfield-template-2971
  terraform/keycloak-dev/realms/onestopauth/client-greenfield-template-2971.tf
Labels: auto_generated, request, 2971
