Repository bcgov/sso-terraform, pull requests merged in 2022-09, with the labels that each got.

#870 request: update client files for work-bc-job-board-4078
  terraform-v2/keycloak-dev/standard-clients/work-bc-job-board-4078.tf
Labels: auto_generated, request, 4078

#871 request: update client files for software-as-a-service-saa-s-website-4079
  terraform-v2/keycloak-dev/standard-clients/software-as-a-service-saa-s-website-4079.tf
  terraform-v2/keycloak-prod/standard-clients/software-as-a-service-saa-s-website-4079.tf
Labels: auto_generated, request, 4079

#872 request: add client files for education-common-4080
  terraform-v2/keycloak-dev/standard-clients/education-common-4080.tf
  terraform-v2/keycloak-prod/standard-clients/education-common-4080.tf
  terraform-v2/keycloak-test/standard-clients/education-common-4080.tf
Labels: auto_generated, request, 4080

#873 request: update client files for wps-3981
  terraform-v2/keycloak-dev/standard-clients/wps-3981.tf
  terraform-v2/keycloak-prod/standard-clients/wps-3981.tf
  terraform-v2/keycloak-test/standard-clients/wps-3981.tf
Labels: auto_generated, request, 3981

#874 request: add client files for tians-testing-9-1-4081
  terraform-v2/keycloak-dev/standard-clients/tians-testing-9-1-4081.tf
  terraform-v2/keycloak-test/standard-clients/tians-testing-9-1-4081.tf
Labels: auto_generated, request, 4081

#875 request: update client files for wps-3981
  terraform-v2/keycloak-dev/standard-clients/wps-3981.tf
  terraform-v2/keycloak-prod/standard-clients/wps-3981.tf
  terraform-v2/keycloak-test/standard-clients/wps-3981.tf
Labels: auto_generated, request, 3981

#876 request: update client files for wps-3981
  terraform-v2/keycloak-dev/standard-clients/wps-3981.tf
  terraform-v2/keycloak-prod/standard-clients/wps-3981.tf
  terraform-v2/keycloak-test/standard-clients/wps-3981.tf
Labels: auto_generated, request, 3981

#877 request: update client files for wps-3981
  terraform-v2/keycloak-dev/standard-clients/wps-3981.tf
  terraform-v2/keycloak-prod/standard-clients/wps-3981.tf
  terraform-v2/keycloak-test/standard-clients/wps-3981.tf
Labels: auto_generated, request, 3981

#878 request: update client files for wps-3981
  terraform-v2/keycloak-dev/standard-clients/wps-3981.tf
  terraform-v2/keycloak-prod/standard-clients/wps-3981.tf
  terraform-v2/keycloak-test/standard-clients/wps-3981.tf
Labels: auto_generated, request, 3981

#880 request: update client files for tians-testing-9-1-4081
  terraform-v2/keycloak-dev/standard-clients/tians-testing-9-1-4081.tf
  terraform-v2/keycloak-test/standard-clients/tians-testing-9-1-4081.tf
Labels: auto_generated, request, 4081

#881 request: add client files for tians-testing-9-2-4082
  terraform-v2/keycloak-dev/standard-clients/tians-testing-9-2-4082.tf
  terraform-v2/keycloak-prod/standard-clients/tians-testing-9-2-4082.tf
  terraform-v2/keycloak-test/standard-clients/tians-testing-9-2-4082.tf
Labels: auto_generated, request, 4082

#882 request: add client files for junmin-awesome-saml-4084
  terraform-v2/keycloak-dev/standard-clients/junmin-awesome-saml-4084.tf
  terraform-v2/keycloak-test/standard-clients/junmin-awesome-saml-4084.tf
Labels: auto_generated, request, 4084

#883 request: add client files for tians-testing-saml-4085
  terraform-v2/keycloak-dev/standard-clients/tians-testing-saml-4085.tf
  terraform-v2/keycloak-test/standard-clients/tians-testing-saml-4085.tf
Labels: auto_generated, request, 4085

#884 request: update client files for forest-client-4070
  terraform-v2/keycloak-prod/standard-clients/forest-client-4070.tf
Labels: auto_generated, request, 4070

#886 request: update client files for forest-client-4070
  terraform-v2/keycloak-prod/standard-clients/forest-client-4070.tf
  terraform-v2/keycloak-test/standard-clients/forest-client-4070.tf
Labels: auto_generated, request, 4070

#888 request: add client files for formsflow-demo-4086
  terraform-v2/keycloak-dev/standard-clients/formsflow-demo-4086.tf
Labels: auto_generated, request, 4086

#889 request: update client files for formsflow-demo-4086
  terraform-v2/keycloak-dev/standard-clients/formsflow-demo-4086.tf
Labels: auto_generated, request, 4086

#890 request: add client files for sbc-demo-formsflow-web-4087
  terraform-v2/keycloak-dev/standard-clients/sbc-demo-formsflow-web-4087.tf
Labels: auto_generated, request, 4087

#891 request: delete client files for sbc-demo-formsflow-web-4087
  terraform-v2/keycloak-dev/standard-clients/sbc-demo-formsflow-web-4087.tf
Labels: auto_generated, request, 4087

#892 request: delete client files for formsflow-demo-4086
  terraform-v2/keycloak-dev/standard-clients/formsflow-demo-4086.tf
Labels: auto_generated, request, 4086

#893 request: update client files for education-common-4080
  terraform-v2/keycloak-dev/standard-clients/education-common-4080.tf
Labels: auto_generated, request, 4080

#894 request: update client files for education-common-4080
  terraform-v2/keycloak-dev/standard-clients/education-common-4080.tf
Labels: auto_generated, request, 4080

#896 request: update client files for education-common-4080
  terraform-v2/keycloak-dev/standard-clients/education-common-4080.tf
Labels: auto_generated, request, 4080

#897 request: update client files for education-common-4080
  terraform-v2/keycloak-dev/standard-clients/education-common-4080.tf
Labels: auto_generated, request, 4080

#900 request: update client files for payment-common-component-4071
  terraform-v2/keycloak-prod/standard-clients/payment-common-component-4071.tf
  terraform-v2/keycloak-test/standard-clients/payment-common-component-4071.tf
Labels: auto_generated, request, 4071

#901 request: add client files for fsa-cognito-idir-dev-4088
  terraform-v2/keycloak-dev/standard-clients/fsa-cognito-idir-dev-4088.tf
  terraform-v2/keycloak-prod/standard-clients/fsa-cognito-idir-dev-4088.tf
  terraform-v2/keycloak-test/standard-clients/fsa-cognito-idir-dev-4088.tf
Labels: auto_generated, request, 4088

#902 request: add client files for fsa-cognito-idir-prod-4089
  terraform-v2/keycloak-dev/standard-clients/fsa-cognito-idir-prod-4089.tf
  terraform-v2/keycloak-test/standard-clients/fsa-cognito-idir-prod-4089.tf
Labels: auto_generated, request, 4089

#903 request: add client files for fsa-cognito-b-ce-id-business-dev-4090
  terraform-v2/keycloak-dev/standard-clients/fsa-cognito-b-ce-id-business-dev-4090.tf
  terraform-v2/keycloak-test/standard-clients/fsa-cognito-b-ce-id-business-dev-4090.tf
Labels: auto_generated, request, 4090

#904 request: add client files for fsa-cognito-b-ce-id-business-prod-4091
  terraform-v2/keycloak-dev/standard-clients/fsa-cognito-b-ce-id-business-prod-4091.tf
  terraform-v2/keycloak-test/standard-clients/fsa-cognito-b-ce-id-business-prod-4091.tf
Labels: auto_generated, request, 4091

#907 request: update client files for education-common-4080
  terraform-v2/keycloak-dev/standard-clients/education-common-4080.tf
Labels: auto_generated, request, 4080

#909 request: update client files for education-common-4080
  terraform-v2/keycloak-dev/standard-clients/education-common-4080.tf
Labels: auto_generated, request, 4080

#910 request: add client files for documize-4092
  terraform-v2/keycloak-dev/standard-clients/documize-4092.tf
  terraform-v2/keycloak-prod/standard-clients/documize-4092.tf
  terraform-v2/keycloak-test/standard-clients/documize-4092.tf
Labels: auto_generated, request, 4092

#911 request: update client files for wps-3981
  terraform-v2/keycloak-dev/standard-clients/wps-3981.tf
Labels: auto_generated, request, 3981

#912 request: delete client files for isd-amp-mining-scan-2509
  terraform/keycloak-dev/realms/onestopauth/client-isd-amp-mining-scan-2509.tf
Labels: auto_generated, request, 2509

#913 request: delete client files for tians-testing-9-1-4081
  terraform-v2/keycloak-dev/standard-clients/tians-testing-9-1-4081.tf
  terraform-v2/keycloak-test/standard-clients/tians-testing-9-1-4081.tf
Labels: auto_generated, request, 4081

#914 request: add client files for cdogs-showcase-4094
  terraform-v2/keycloak-dev/standard-clients/cdogs-showcase-4094.tf
  terraform-v2/keycloak-prod/standard-clients/cdogs-showcase-4094.tf
  terraform-v2/keycloak-test/standard-clients/cdogs-showcase-4094.tf
Labels: auto_generated, request, 4094

#915 request: add client files for coms-showcase-4096
  terraform-v2/keycloak-dev/standard-clients/coms-showcase-4096.tf
  terraform-v2/keycloak-prod/standard-clients/coms-showcase-4096.tf
  terraform-v2/keycloak-test/standard-clients/coms-showcase-4096.tf
Labels: auto_generated, request, 4096

#916 request: add client files for cdogs-showcase-frontend-4097
  terraform-v2/keycloak-dev/standard-clients/cdogs-showcase-frontend-4097.tf
  terraform-v2/keycloak-prod/standard-clients/cdogs-showcase-frontend-4097.tf
  terraform-v2/keycloak-test/standard-clients/cdogs-showcase-frontend-4097.tf
Labels: auto_generated, request, 4097

#918 request: update client files for psa-digital-journeys-3961
  terraform-v2/keycloak-dev/standard-clients/psa-digital-journeys-3961.tf
Labels: auto_generated, request, 3961

#919 request: add client files for sabc-applications-vss-4098
  terraform-v2/keycloak-dev/standard-clients/sabc-applications-vss-4098.tf
Labels: auto_generated, request, 4098

#920 request: add client files for sabc-applications-vss-4099
  terraform-v2/keycloak-dev/standard-clients/sabc-applications-vss-4099.tf
Labels: auto_generated, request, 4099

#921 request: delete client files for sabc-applications-vss-4098
  terraform-v2/keycloak-dev/standard-clients/sabc-applications-vss-4098.tf
Labels: auto_generated, request, 4098

#922 request: add client files for sabc-applications-vss-4100
  terraform-v2/keycloak-dev/standard-clients/sabc-applications-vss-4100.tf
Labels: auto_generated, request, 4100

#923 request: delete client files for sabc-applications-vss-4099
  terraform-v2/keycloak-dev/standard-clients/sabc-applications-vss-4099.tf
Labels: auto_generated, request, 4099

#924 request: update client files for cdogs-showcase-4094
  terraform-v2/keycloak-dev/standard-clients/cdogs-showcase-4094.tf
Labels: auto_generated, request, 4094

#925 request: add client files for sabc-applications-vss-4101
  terraform-v2/keycloak-dev/standard-clients/sabc-applications-vss-4101.tf
Labels: auto_generated, request, 4101

#926 request: add client files for cdogs-showcase-4103
  terraform-v2/keycloak-dev/standard-clients/cdogs-showcase-4103.tf
  terraform-v2/keycloak-prod/standard-clients/cdogs-showcase-4103.tf
  terraform-v2/keycloak-test/standard-clients/cdogs-showcase-4103.tf
Labels: auto_generated, request, 4103

#927 request: delete client files for coms-showcase-4096
  terraform-v2/keycloak-dev/standard-clients/coms-showcase-4096.tf
  terraform-v2/keycloak-prod/standard-clients/coms-showcase-4096.tf
  terraform-v2/keycloak-test/standard-clients/coms-showcase-4096.tf
Labels: auto_generated, request, 4096

#928 request: delete client files for cdogs-showcase-4094
  terraform-v2/keycloak-dev/standard-clients/cdogs-showcase-4094.tf
  terraform-v2/keycloak-prod/standard-clients/cdogs-showcase-4094.tf
  terraform-v2/keycloak-test/standard-clients/cdogs-showcase-4094.tf
Labels: auto_generated, request, 4094

#929 request: add client files for ches-showcase-4104
  terraform-v2/keycloak-dev/standard-clients/ches-showcase-4104.tf
  terraform-v2/keycloak-prod/standard-clients/ches-showcase-4104.tf
  terraform-v2/keycloak-test/standard-clients/ches-showcase-4104.tf
Labels: auto_generated, request, 4104

#930 request: add client files for ches-showcase-frontend-4105
  terraform-v2/keycloak-dev/standard-clients/ches-showcase-frontend-4105.tf
  terraform-v2/keycloak-prod/standard-clients/ches-showcase-frontend-4105.tf
  terraform-v2/keycloak-test/standard-clients/ches-showcase-frontend-4105.tf
Labels: auto_generated, request, 4105

#931 request: update client files for cdogs-showcase-frontend-4097
  terraform-v2/keycloak-prod/standard-clients/cdogs-showcase-frontend-4097.tf
Labels: auto_generated, request, 4097

#932 request: update client files for ches-showcase-frontend-4105
  terraform-v2/keycloak-dev/standard-clients/ches-showcase-frontend-4105.tf
Labels: auto_generated, request, 4105

#933 request: add client files for tians-testing-wildcard-4102
  terraform-v2/keycloak-dev/standard-clients/tians-testing-wildcard-4102.tf
  terraform-v2/keycloak-prod/standard-clients/tians-testing-wildcard-4102.tf
  terraform-v2/keycloak-test/standard-clients/tians-testing-wildcard-4102.tf
Labels: auto_generated, request, 4102

#934 request: add client files for saml-integration-4093
  terraform-v2/keycloak-dev/standard-clients/saml-integration-4093.tf
  terraform-v2/keycloak-prod/standard-clients/saml-integration-4093.tf
  terraform-v2/keycloak-test/standard-clients/saml-integration-4093.tf
Labels: auto_generated, request, 4093

#935 request: update client files for sabc-applications-vss-4101
  terraform-v2/keycloak-dev/standard-clients/sabc-applications-vss-4101.tf
Labels: auto_generated, request, 4101

#936 request: update client files for sabc-applications-vss-4101
  terraform-v2/keycloak-prod/standard-clients/sabc-applications-vss-4101.tf
Labels: auto_generated, request, 4101

#937 request: delete client files for sabc-applications-vss-4100
  terraform-v2/keycloak-dev/standard-clients/sabc-applications-vss-4100.tf
Labels: auto_generated, request, 4100

#943 request: update client files for wps-3981
  terraform-v2/keycloak-dev/standard-clients/wps-3981.tf
  terraform-v2/keycloak-prod/standard-clients/wps-3981.tf
  terraform-v2/keycloak-test/standard-clients/wps-3981.tf
Labels: auto_generated, request, 3981

#944 request: update client files for fsa-cognito-idir-dev-4088
  terraform-v2/keycloak-dev/standard-clients/fsa-cognito-idir-dev-4088.tf
Labels: auto_generated, request, 4088

#945 request: update client files for fsa-cognito-idir-dev-4088
  terraform-v2/keycloak-dev/standard-clients/fsa-cognito-idir-dev-4088.tf
Labels: auto_generated, request, 4088

#946 request: add client files for resume-bundler-4106
  terraform-v2/keycloak-dev/standard-clients/resume-bundler-4106.tf
  terraform-v2/keycloak-prod/standard-clients/resume-bundler-4106.tf
  terraform-v2/keycloak-test/standard-clients/resume-bundler-4106.tf
Labels: auto_generated, request, 4106

#947 request: update client files for sabc-applications-vss-4101
  terraform-v2/keycloak-dev/standard-clients/sabc-applications-vss-4101.tf
  terraform-v2/keycloak-prod/standard-clients/sabc-applications-vss-4101.tf
Labels: auto_generated, request, 4101

#948 request: update client files for wps-3981
  terraform-v2/keycloak-dev/standard-clients/wps-3981.tf
  terraform-v2/keycloak-test/standard-clients/wps-3981.tf
Labels: auto_generated, request, 3981

#949 request: update client files for cthub-on-gold-cluster-3974
  terraform-v2/keycloak-prod/standard-clients/cthub-on-gold-cluster-3974.tf
Labels: auto_generated, request, 3974

#950 request: update client files for fsa-cognito-idir-dev-4088
  terraform-v2/keycloak-dev/standard-clients/fsa-cognito-idir-dev-4088.tf
Labels: auto_generated, request, 4088

#951 request: add client files for fsa-cognito-idir-sm-dev-4107
  terraform-v2/keycloak-dev/standard-clients/fsa-cognito-idir-sm-dev-4107.tf
  terraform-v2/keycloak-prod/standard-clients/fsa-cognito-idir-sm-dev-4107.tf
  terraform-v2/keycloak-test/standard-clients/fsa-cognito-idir-sm-dev-4107.tf
Labels: auto_generated, request, 4107

#952 request: update client files for pnp-provincial-nominee-program-4062
  terraform-v2/keycloak-prod/standard-clients/pnp-provincial-nominee-program-4062.tf
  terraform-v2/keycloak-test/standard-clients/pnp-provincial-nominee-program-4062.tf
Labels: auto_generated, request, 4062

#953 request: update client files for fsa-cognito-idir-sm-dev-4107
  terraform-v2/keycloak-dev/standard-clients/fsa-cognito-idir-sm-dev-4107.tf
Labels: auto_generated, request, 4107

#955 request: add client files for local-chefs-4108
  terraform-v2/keycloak-dev/standard-clients/local-chefs-4108.tf
Labels: auto_generated, request, 4108

#956 request: delete client files for local-chefs-4108
  terraform-v2/keycloak-dev/standard-clients/local-chefs-4108.tf
Labels: auto_generated, request, 4108

#957 request: add client files for local-chefs-4109
  terraform-v2/keycloak-dev/standard-clients/local-chefs-4109.tf
Labels: auto_generated, request, 4109

#958 request: update client files for wps-3981
  terraform-v2/keycloak-dev/standard-clients/wps-3981.tf
  terraform-v2/keycloak-prod/standard-clients/wps-3981.tf
  terraform-v2/keycloak-test/standard-clients/wps-3981.tf
Labels: auto_generated, request, 3981

#959 request: add client files for sept-14-idir-first-then-b-ceid-4110
  terraform-v2/keycloak-dev/standard-clients/sept-14-idir-first-then-b-ceid-4110.tf
  terraform-v2/keycloak-prod/standard-clients/sept-14-idir-first-then-b-ceid-4110.tf
  terraform-v2/keycloak-test/standard-clients/sept-14-idir-first-then-b-ceid-4110.tf
Labels: auto_generated, request, 4110

#960 request: update client files for sept-14-idir-first-then-b-ceid-4110
  terraform-v2/keycloak-dev/standard-clients/sept-14-idir-first-then-b-ceid-4110.tf
  terraform-v2/keycloak-test/standard-clients/sept-14-idir-first-then-b-ceid-4110.tf
Labels: auto_generated, request, 4110

#961 request: delete client files for sept-14-idir-first-then-b-ceid-4110
  terraform-v2/keycloak-dev/standard-clients/sept-14-idir-first-then-b-ceid-4110.tf
  terraform-v2/keycloak-prod/standard-clients/sept-14-idir-first-then-b-ceid-4110.tf
  terraform-v2/keycloak-test/standard-clients/sept-14-idir-first-then-b-ceid-4110.tf
Labels: auto_generated, request, 4110

#962 request: delete client files for local-chefs-4109
  terraform-v2/keycloak-dev/standard-clients/local-chefs-4109.tf
Labels: auto_generated, request, 4109

#963 request: update client files for sabc-applications-vss-4101
  terraform-v2/keycloak-dev/standard-clients/sabc-applications-vss-4101.tf
  terraform-v2/keycloak-prod/standard-clients/sabc-applications-vss-4101.tf
Labels: auto_generated, request, 4101

#964 request: update client files for sabc-applications-vss-4101
  terraform-v2/keycloak-dev/standard-clients/sabc-applications-vss-4101.tf
  terraform-v2/keycloak-prod/standard-clients/sabc-applications-vss-4101.tf
Labels: auto_generated, request, 4101

#965 request: add client files for ggircs-4112
  terraform-v2/keycloak-dev/standard-clients/ggircs-4112.tf
Labels: auto_generated, request, 4112

#966 request: add client files for sabc-applications-yeaf-4114
  terraform-v2/keycloak-dev/standard-clients/sabc-applications-yeaf-4114.tf
  terraform-v2/keycloak-prod/standard-clients/sabc-applications-yeaf-4114.tf
Labels: auto_generated, request, 4114

#969 request: update client files for awp-3798
  terraform-v2/keycloak-test/standard-clients/awp-3798.tf
Labels: auto_generated, request, 3798

#970 request: update client files for awp-3798
  terraform-v2/keycloak-test/standard-clients/awp-3798.tf
Labels: auto_generated, request, 3798

#971 request: update client files for awp-3798
  terraform-v2/keycloak-dev/standard-clients/awp-3798.tf
  terraform-v2/keycloak-prod/standard-clients/awp-3798.tf
Labels: auto_generated, request, 3798

#972 request: update client files for awp-3798
  terraform-v2/keycloak-dev/standard-clients/awp-3798.tf
Labels: auto_generated, request, 3798

#973 request: update client files for resume-bundler-4106
  terraform-v2/keycloak-dev/standard-clients/resume-bundler-4106.tf
Labels: auto_generated, request, 4106

#974 request: update client files for fsa-cognito-idir-sm-dev-4107
  terraform-v2/keycloak-dev/standard-clients/fsa-cognito-idir-sm-dev-4107.tf
  terraform-v2/keycloak-prod/standard-clients/fsa-cognito-idir-sm-dev-4107.tf
  terraform-v2/keycloak-test/standard-clients/fsa-cognito-idir-sm-dev-4107.tf
Labels: auto_generated, request, 4107

#975 request: update client files for wordpress-sso-idir-bceid-3947
  terraform-v2/keycloak-dev/standard-clients/wordpress-sso-idir-bceid-3947.tf
  terraform-v2/keycloak-prod/standard-clients/wordpress-sso-idir-bceid-3947.tf
  terraform-v2/keycloak-test/standard-clients/wordpress-sso-idir-bceid-3947.tf
Labels: auto_generated, request, 3947

#976 request: update client files for ticdi-3202
  terraform/keycloak-dev/realms/onestopauth/client-ticdi-3202.tf
Labels: auto_generated, request, 3202

#977 request: update client files for fsa-cognito-idir-sm-dev-4107
  terraform-v2/keycloak-dev/standard-clients/fsa-cognito-idir-sm-dev-4107.tf
Labels: auto_generated, request, 4107

#978 request: update client files for wordpress-sso-idir-bceid-3947
  terraform-v2/keycloak-prod/standard-clients/wordpress-sso-idir-bceid-3947.tf
Labels: auto_generated, request, 3947

#979 request: update client files for wps-3981
  terraform-v2/keycloak-prod/standard-clients/wps-3981.tf
Labels: auto_generated, request, 3981

#980 request: delete client files for bceidplay-3701
  terraform/keycloak-dev/realms/onestopauth-basic/client-bceidplay-3701.tf
  terraform/keycloak-test/realms/onestopauth-basic/client-bceidplay-3701.tf
Labels: auto_generated, request, 3701

#981 request: add client files for ccof-4115
  terraform-v2/keycloak-dev/standard-clients/ccof-4115.tf
Labels: auto_generated, request, 4115

#982 request: update client files for wps-3981
  terraform-v2/keycloak-prod/standard-clients/wps-3981.tf
Labels: auto_generated, request, 3981

#983 request: update client files for trans-action-3979
  terraform-v2/keycloak-dev/standard-clients/trans-action-3979.tf
  terraform-v2/keycloak-prod/standard-clients/trans-action-3979.tf
  terraform-v2/keycloak-test/standard-clients/trans-action-3979.tf
Labels: auto_generated, request, 3979

#985 request: update client files for wps-3981
  terraform-v2/keycloak-prod/standard-clients/wps-3981.tf
Labels: auto_generated, request, 3981

#986 request: update client files for wps-3981
  terraform-v2/keycloak-prod/standard-clients/wps-3981.tf
Labels: auto_generated, request, 3981

#987 request: add client files for local-development-4117
  terraform-v2/keycloak-dev/standard-clients/local-development-4117.tf
Labels: auto_generated, request, 4117

#988 request: update client files for junmin-awesome-saml-4084
  terraform-v2/keycloak-dev/standard-clients/junmin-awesome-saml-4084.tf
  terraform-v2/keycloak-test/standard-clients/junmin-awesome-saml-4084.tf
Labels: auto_generated, request, 4084

#989 request: delete client files for tians-testing-wildcard-4102
  terraform-v2/keycloak-dev/standard-clients/tians-testing-wildcard-4102.tf
  terraform-v2/keycloak-prod/standard-clients/tians-testing-wildcard-4102.tf
  terraform-v2/keycloak-test/standard-clients/tians-testing-wildcard-4102.tf
Labels: auto_generated, request, 4102

#990 request: add client files for service-account-team-1094-4118
  terraform-v2/keycloak-prod/standard-service-accounts/service-account-team-1094-4118.tf
Labels: auto_generated, request, 4118

#992 request: add client files for tians-testing-git-hub-4119
  terraform-v2/keycloak-dev/standard-clients/tians-testing-git-hub-4119.tf
  terraform-v2/keycloak-prod/standard-clients/tians-testing-git-hub-4119.tf
  terraform-v2/keycloak-test/standard-clients/tians-testing-git-hub-4119.tf
Labels: auto_generated, request, 4119

#993 request: update client files for bcea-forecast-3797
  terraform-v2/keycloak-dev/standard-clients/bcea-forecast-3797.tf
  terraform-v2/keycloak-prod/standard-clients/bcea-forecast-3797.tf
  terraform-v2/keycloak-test/standard-clients/bcea-forecast-3797.tf
Labels: auto_generated, request, 3797

#994 request: delete client files for tians-testing-git-hub-4119
  terraform-v2/keycloak-dev/standard-clients/tians-testing-git-hub-4119.tf
  terraform-v2/keycloak-prod/standard-clients/tians-testing-git-hub-4119.tf
  terraform-v2/keycloak-test/standard-clients/tians-testing-git-hub-4119.tf
Labels: auto_generated, request, 4119

#995 request: update client files for saml-integration-4093
  terraform-v2/keycloak-dev/standard-clients/saml-integration-4093.tf
  terraform-v2/keycloak-test/standard-clients/saml-integration-4093.tf
Labels: auto_generated, request, 4093

#996 request: update client files for aqss-3932
  terraform-v2/keycloak-prod/standard-clients/aqss-3932.tf
  terraform-v2/keycloak-test/standard-clients/aqss-3932.tf
Labels: auto_generated, request, 3932

#997 request: add client files for tians-testing-b-ce-id-4120
  terraform-v2/keycloak-dev/standard-clients/tians-testing-b-ce-id-4120.tf
  terraform-v2/keycloak-test/standard-clients/tians-testing-b-ce-id-4120.tf
Labels: auto_generated, request, 4120

#998 request: update client files for ccof-4115
  terraform-v2/keycloak-dev/standard-clients/ccof-4115.tf
Labels: auto_generated, request, 4115

#999 request: update client files for tti-ams-1486
  terraform/keycloak-dev/realms/onestopauth/client-tti-ams-1486.tf
  terraform/keycloak-prod/realms/onestopauth/client-tti-ams-1486.tf
  terraform/keycloak-test/realms/onestopauth/client-tti-ams-1486.tf
Labels: auto_generated, request, 1486

#1000 request: update client files for aqss-3932
  terraform-v2/keycloak-prod/standard-clients/aqss-3932.tf
Labels: auto_generated, request, 3932

#1001 request: update client files for aqss-3932
  terraform-v2/keycloak-prod/standard-clients/aqss-3932.tf
Labels: auto_generated, request, 3932

#1002 request: update client files for aqss-3932
  terraform-v2/keycloak-prod/standard-clients/aqss-3932.tf
Labels: auto_generated, request, 3932

#1003 request: add client files for gwells-4121
  terraform-v2/keycloak-dev/standard-clients/gwells-4121.tf
  terraform-v2/keycloak-test/standard-clients/gwells-4121.tf
Labels: auto_generated, request, 4121

#1004 request: add client files for elmsd-front-end-dev-4124
  terraform-v2/keycloak-dev/standard-clients/elmsd-front-end-dev-4124.tf
Labels: auto_generated, request, 4124

#1005 request: add client files for elmsd-back-end-dev-4125
  terraform-v2/keycloak-dev/standard-clients/elmsd-back-end-dev-4125.tf
Labels: auto_generated, request, 4125

#1006 request: add client files for jsb-csrs-4126
  terraform-v2/keycloak-dev/standard-clients/jsb-csrs-4126.tf
  terraform-v2/keycloak-prod/standard-clients/jsb-csrs-4126.tf
  terraform-v2/keycloak-test/standard-clients/jsb-csrs-4126.tf
Labels: auto_generated, request, 4126

#1007 request: update client files for itvr-on-gold-cluster-3972
  terraform-v2/keycloak-dev/standard-clients/itvr-on-gold-cluster-3972.tf
  terraform-v2/keycloak-prod/standard-clients/itvr-on-gold-cluster-3972.tf
  terraform-v2/keycloak-test/standard-clients/itvr-on-gold-cluster-3972.tf
Labels: auto_generated, request, 3972

#1008 request: update client files for fsa-cognito-idir-sm-dev-4107
  terraform-v2/keycloak-dev/standard-clients/fsa-cognito-idir-sm-dev-4107.tf
Labels: auto_generated, request, 4107

#1009 request: add client files for service-account-team-795-4127
  terraform-v2/keycloak-prod/standard-service-accounts/service-account-team-795-4127.tf
Labels: auto_generated, request, 4127

#1010 request: update client files for tti-ams-1486
  terraform/keycloak-dev/realms/onestopauth/client-tti-ams-1486.tf
Labels: auto_generated, request, 1486

#1011 request: add client files for css-app-in-gold-4128
  terraform-v2/keycloak-dev/standard-clients/css-app-in-gold-4128.tf
  terraform-v2/keycloak-prod/standard-clients/css-app-in-gold-4128.tf
  terraform-v2/keycloak-test/standard-clients/css-app-in-gold-4128.tf
Labels: auto_generated, request, 4128

#1012 request: delete client files for fsa-cognito-idir-prod-4089
  terraform-v2/keycloak-dev/standard-clients/fsa-cognito-idir-prod-4089.tf
  terraform-v2/keycloak-test/standard-clients/fsa-cognito-idir-prod-4089.tf
Labels: auto_generated, request, 4089

#1013 request: update client files for css-app-in-gold-4128
  terraform-v2/keycloak-dev/standard-clients/css-app-in-gold-4128.tf
  terraform-v2/keycloak-prod/standard-clients/css-app-in-gold-4128.tf
  terraform-v2/keycloak-test/standard-clients/css-app-in-gold-4128.tf
Labels: auto_generated, request, 4128

#1014 request: update client files for fsa-cognito-idir-dev-4088
  terraform-v2/keycloak-dev/standard-clients/fsa-cognito-idir-dev-4088.tf
  terraform-v2/keycloak-prod/standard-clients/fsa-cognito-idir-dev-4088.tf
  terraform-v2/keycloak-test/standard-clients/fsa-cognito-idir-dev-4088.tf
Labels: auto_generated, request, 4088

#1015 request: update client files for fsa-cognito-b-ce-id-business-dev-4090
  terraform-v2/keycloak-dev/standard-clients/fsa-cognito-b-ce-id-business-dev-4090.tf
Labels: auto_generated, request, 4090

#1017 request: update client files for css-app-in-gold-4128
  terraform-v2/keycloak-dev/standard-clients/css-app-in-gold-4128.tf
  terraform-v2/keycloak-prod/standard-clients/css-app-in-gold-4128.tf
  terraform-v2/keycloak-test/standard-clients/css-app-in-gold-4128.tf
Labels: auto_generated, request, 4128

#1018 request: update client files for fsa-cognito-idir-dev-4088
  terraform-v2/keycloak-dev/standard-clients/fsa-cognito-idir-dev-4088.tf
  terraform-v2/keycloak-prod/standard-clients/fsa-cognito-idir-dev-4088.tf
  terraform-v2/keycloak-test/standard-clients/fsa-cognito-idir-dev-4088.tf
Labels: auto_generated, request, 4088

#1019 request: update client files for gwells-4121
  terraform-v2/keycloak-dev/standard-clients/gwells-4121.tf
  terraform-v2/keycloak-test/standard-clients/gwells-4121.tf
Labels: auto_generated, request, 4121

#1020 request: add client files for service-account-team-894-4129
  terraform-v2/keycloak-prod/standard-service-accounts/service-account-team-894-4129.tf
Labels: auto_generated, request, 4129

#1021 request: add client files for coms-client-4130
  terraform-v2/keycloak-dev/standard-clients/coms-client-4130.tf
Labels: auto_generated, request, 4130

#1022 request: delete client files for tians-testing-b-ce-id-4120
  terraform-v2/keycloak-dev/standard-clients/tians-testing-b-ce-id-4120.tf
  terraform-v2/keycloak-test/standard-clients/tians-testing-b-ce-id-4120.tf
Labels: auto_generated, request, 4120

#1023 request: delete client files for saml-integration-4093
  terraform-v2/keycloak-dev/standard-clients/saml-integration-4093.tf
  terraform-v2/keycloak-prod/standard-clients/saml-integration-4093.tf
  terraform-v2/keycloak-test/standard-clients/saml-integration-4093.tf
Labels: auto_generated, request, 4093

#1024 request: delete client files for tians-testing-saml-4085
  terraform-v2/keycloak-dev/standard-clients/tians-testing-saml-4085.tf
  terraform-v2/keycloak-test/standard-clients/tians-testing-saml-4085.tf
Labels: auto_generated, request, 4085

#1025 request: update client files for alcs-3944
  terraform-v2/keycloak-dev/standard-clients/alcs-3944.tf
  terraform-v2/keycloak-prod/standard-clients/alcs-3944.tf
  terraform-v2/keycloak-test/standard-clients/alcs-3944.tf
Labels: auto_generated, request, 3944

#1026 request: update client files for fsa-cognito-idir-dev-4088
  terraform-v2/keycloak-dev/standard-clients/fsa-cognito-idir-dev-4088.tf
Labels: auto_generated, request, 4088

#1027 request: delete client files for fsa-cognito-b-ce-id-business-prod-4091
  terraform-v2/keycloak-dev/standard-clients/fsa-cognito-b-ce-id-business-prod-4091.tf
  terraform-v2/keycloak-test/standard-clients/fsa-cognito-b-ce-id-business-prod-4091.tf
Labels: auto_generated, request, 4091

#1028 request: delete client files for fsa-cognito-idir-sm-dev-4107
  terraform-v2/keycloak-dev/standard-clients/fsa-cognito-idir-sm-dev-4107.tf
  terraform-v2/keycloak-prod/standard-clients/fsa-cognito-idir-sm-dev-4107.tf
  terraform-v2/keycloak-test/standard-clients/fsa-cognito-idir-sm-dev-4107.tf
Labels: auto_generated, request, 4107

#1029 request: update client files for fsa-cognito-idir-dev-4088
  terraform-v2/keycloak-dev/standard-clients/fsa-cognito-idir-dev-4088.tf
Labels: auto_generated, request, 4088

#1030 request: update client files for fsa-cognito-idir-dev-4088
  terraform-v2/keycloak-dev/standard-clients/fsa-cognito-idir-dev-4088.tf
Labels: auto_generated, request, 4088

#1031 request: add client files for ticdi-4133
  terraform-v2/keycloak-dev/standard-clients/ticdi-4133.tf
Labels: auto_generated, request, 4133

#1032 request: update client files for fsa-cognito-idir-dev-4088
  terraform-v2/keycloak-dev/standard-clients/fsa-cognito-idir-dev-4088.tf
Labels: auto_generated, request, 4088

#1033 request: add client files for service-account-team-133-4134
  terraform-v2/keycloak-prod/standard-service-accounts/service-account-team-133-4134.tf
Labels: auto_generated, request, 4134

#1034 request: update client files for aqss-3932
  terraform-v2/keycloak-dev/standard-clients/aqss-3932.tf
  terraform-v2/keycloak-prod/standard-clients/aqss-3932.tf
  terraform-v2/keycloak-test/standard-clients/aqss-3932.tf
Labels: auto_generated, request, 3932

#1035 request: delete client files for ticdi-3202
  terraform/keycloak-dev/realms/onestopauth/client-ticdi-3202.tf
Labels: auto_generated, request, 3202

#1036 request: update client files for epicflow-3764
  terraform-v2/keycloak-dev/standard-clients/epicflow-3764.tf
  terraform-v2/keycloak-test/standard-clients/epicflow-3764.tf
Labels: auto_generated, request, 3764

#1038 request: update client files for tti-ams-1486
  terraform/keycloak-dev/realms/onestopauth/client-tti-ams-1486.tf
Labels: auto_generated, request, 1486

#1040 request: update client files for fsa-cognito-b-ce-id-business-dev-4090
  terraform-v2/keycloak-dev/standard-clients/fsa-cognito-b-ce-id-business-dev-4090.tf
  terraform-v2/keycloak-test/standard-clients/fsa-cognito-b-ce-id-business-dev-4090.tf
Labels: auto_generated, request, 4090

#1041 request: update client files for tti-ams-1486
  terraform/keycloak-dev/realms/onestopauth/client-tti-ams-1486.tf
Labels: auto_generated, request, 1486

#1042 request: update client files for fsa-cognito-b-ce-id-business-dev-4090
  terraform-v2/keycloak-dev/standard-clients/fsa-cognito-b-ce-id-business-dev-4090.tf
  terraform-v2/keycloak-test/standard-clients/fsa-cognito-b-ce-id-business-dev-4090.tf
Labels: auto_generated, request, 4090
